.content-block {
    justify-content: center; /* центрирует содержимое по вертикали */
    max-width: 1200px;
    max-height: 90vh;
    margin-bottom: 20px;
    background-color: rgba(78, 148, 101, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    width: 100%; 
    border-collapse: collapse;
    background-color: rgba(78, 148, 101, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
