{% extends "base.html" %}
{% load static %}

{% block title %}Стартовая страница{% endblock %}

{% block head_extras %}
<link rel="stylesheet" href="{% static 'currency_tracker/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="content-block">
    <button id="updateButton">Обновить курсы валют</button>
    <span id="latestRate">Дата: {{ latest_date }}, Курс: {{ latest_rate }}, Общая разница: {{ total_difference }}</span>
    <canvas id="currencyChart"></canvas>
</div>

<div class="content-block">
    <h2>Покупки валюты</h2>
    <table>
        <tr>
            <th>Дата покупки</th>
            <th>Сумма в долларах</th>
            <th>Курс обмена</th>
            <th>Потрачено</th>
            <th>Текущая стоимость</th>
            <th>Разница</th>
        </tr>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.date }}</td>
            <td>{{ purchase.amount }}</td>
            <td>{{ purchase.rate }}</td>
            <td>{{ purchase.spent_amount }}</td>
            <td>{{ purchase.current_value_calculated }}</td>
            <td>{{ purchase.difference_calculated }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<!-- Новый блок для Bitcoin -->
<div class="content-block">
    <h2>Информация о Bitcoin</h2>
    <button id="updateBitcoinButton">Обновить курсы Bitcoin</button>
    <span id="latestBitcoinRate">Последний курс Bitcoin: {{ latest_bitcoin_rate }}</span>
    <canvas id="bitcoinChart"></canvas>
</div>

<div class="content-block">
    <h2>Покупки Bitcoin</h2>
    <table>
        <tr>
            <th>Дата покупки</th>
            <th>Количество Bitcoin</th>
            <th>Курс обмена</th>
            <th>Потрачено в USD</th>
            <th>Текущая стоимость в USD</th>
            <th>Разница</th>
        </tr>
        {% for purchase in bitcoin_purchases %}
        <tr>
            <td>{{ purchase.date }}</td>
            <td>{{ purchase.amount }}</td>
            <td>{{ purchase.rate }}</td>
            <td>{{ purchase.spent_amount }}</td>
            <td>{{ purchase.current_value_calculated }}</td>
            <td>{{ purchase.difference_calculated }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script src="{% static 'currency_tracker/js/mychart.js' %}"></script>
<script src="{% static 'currency_tracker/js/updateButton.js' %}"></script>
<script src="{% static 'currency_tracker/js/bitcoinChart.js' %}"></script>
<script src="{% static 'currency_tracker/js/updateButtonBitcoin.js' %}"></script>
{% endblock %}
