{% extends "base.html" %}

{% block title %}Стартовая страница{% endblock %}

{% block content %}
<h1>Добро пожаловать на стартовую страницу!</h1>
<canvas id="currencyChart"></canvas>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script src="{% static 'currency_tracker/js/mychart.js' %}"></script>
{% endblock %}


{% comment %} Получать курсы по апи и сохранять в базе для скрипта mychart.js
Добавить модель покупки валюты и блок для таблицы отображающей все покупки {% endcomment %}