{% extends 'base.html' %}

{% load static %}

{% block css_additional %} 
    <link rel="stylesheet" href=" {% static 'currency_tracker/css/index.css' %}">
{% endblock %}

{% block title %}
Добро пожаловать на стартовую страницу!
{% endblock %}

{% block content %}
    <canvas id="currencyChart"></canvas>
    <script>
        var dataLabels = {{ data_labels|safe }};
        var dataRates = {{ data_rates|safe }};
    </script>
    <script src="{% static 'currency_tracker/js/mychart.js' %}"></script>
{% endblock %}
